<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Periodika </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-spinner *ngIf="loading"></ion-spinner>

    <div *ngIf="!loading">
      <main><h1>{{ data?.date | date }}</h1></main>
      <ion-list>
        <ion-item *ngFor="let issue of data?.issues">
          <ion-label (click)="openIssue(issue)"
            >{{ issue?.periodical?.title }}</ion-label
          >
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
